@import './variable.module.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter', sans-serif;
}
.masked-me {
    width: 100%;
    mask-size: 100% 100%;
    -webkit-mask-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' height='120' width='120'> <path d='M120,0v116.2c0,0-3.5-8.1-60-8.1s-60,8.1-60,8.1V0H120z' fill='black'/></svg>");
}

.image-container {
    height: 100%;
    background: url('../images/about_bg.png') no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mix-blend-mode: multiply;
    filter: blur(3px);
}

.video_player {
    position: relative;
    z-index: 0;

    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        bottom: -10%;
        left: -15%;
        background-image: url('../images/dotted.png');
        background-repeat: no-repeat;
        width: 189px;
        height: 189px;
    }
}

.is-sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 24px 0 rgb(0 0 0 / 15%);
    background-color: rgba($color: #0a1635, $alpha: 0.8) !important;
    animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    padding-top: 0px;
    padding-bottom: 0px;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #172f70 50%, #19274b 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: absolute;
    right: -50%;
    top: 0;
    z-index: 1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

@media screen and (min-width: 1024px) {
    .vision {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%);
        width: 392px;
    }
}

.with_gradient {
    position: relative;
    
    &:before{
        content: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 150' preserveAspectRatio='none'><path d='M15.2,133.3L15.2,133.3c121.9-7.6,244-9.9,366.1-6.8c34.6,0.9,69.1,2.3,103.7,4' style='stroke:rgb(229, 233, 244); stroke-width: 40;animation-play-state: running;'></path></svg>");
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: bottom left;
        z-index: -1;
    }
}

.swiper-horizontal{
    position: relative !important;

    &:before,
    &:after {
        content: "";
        position: absolute;
        z-index: 5;
        width: 6rem;
        top: 0;
        bottom: 0;
    }
    
    &:before {
        background-image: linear-gradient(to right,white,rgba(255,255,255,0));
        left: 0;
    }

    &:after {
        background-image: linear-gradient(270deg,white,rgba(255,255,255,0));
        right: 0;
    }
}

.swiper-slide{
    align-self: center;
    
   
    
    & > img {
        margin: 0 auto;
    }
}