@import './variable.module.scss';

.heroSection {
    background-color: $primary-color;
    padding-top: 120px;

    background-image: url('../images/hero_donut_gradient_1.png'), url('../images/hero_donut_gradient_2.png'), url('../images/hero_donut_gradient_3.png');
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: top left, bottom left, top right;
    position: relative;
}

.heroSpan {
    color: $secondary-color;
}
